.our-clients {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;

}
.our-clients-item{
   flex-basis:calc(52% - 30px);
}


.our-clients-icon {
    fill: currentColor;
}

.our-clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
   
    @media screen  and (min-width:768px){
        width: 226px;
    }
    @media screen  and (min-width:768px){
        width: 170px;
    }
    height: 92px;
    border: 1px solid var(--icons-color);
    border-radius: 4px;
    color: var(--icons-color);
    transition-property:color, border;
    @include animation;
    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);
        color: var(--accent-color);
    }
}