.our-clients {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

}


@media screen and (max-width:767px){
    .our-clients-item{
        flex-basis: calc((100% - 1 * 30px)/2);
       
    }
    
}
@media screen and (min-width:768px){
    .our-clients-item{
        flex-basis: calc((100% - 2 * 30px)/3);
       
    } 
}
@media screen and (min-width:1200px) {
    .our-clients-item {
        flex-basis: calc((100% - 5 * 30px)/6);

    }
}

.our-clients-icon {
    fill: currentColor;
}

.our-clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
   
    /*@media screen  and (min-width:768px){
        width: 226px;
    }
    @media screen  and (min-width:768px){
        width: 170px;*
    }*/
    height: 92px;
    border: 1px solid var(--icons-color);
    border-radius: 4px;
    color: var(--icons-color);
    transition-property:color, border;
    @include animation;
    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);
        color: var(--accent-color);
    }
}