.section-specialization {
    padding-top: 0px;
    padding-bottom: 94px;
}
@media screen and (max-width:1199px){
    .section-specialization {
        display: none;
    } 
 }


.our-specialization {
        display: flex;
     
}

.item-specialization {
    position: relative;
    width: 370px;

        &:not(:last-child) {
            margin-right: 30px;
        }
}



.specialization-description {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    bottom: 0%;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-white-color);
    background: rgba(47, 48, 58, 0.8);

}