
@media screen and (max-width:767px){
    .mobile-menu{
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 1000;
        top: 0;
        left: 0;
        background-color: var(--primary-white-color);
        
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition-property: opacity , visibility, scale;
        @include animation;
       
    }
}
.mobile-menu__container{
    position: relative;

}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    
  }

 .mobile-menu__close-button{
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    outline: none;
    background-color: inherit;
    transition-property: fill;
    @include animation;

    &:focus, &:hover{
        fill: var(--accent-color);
    }
  }

  .nav-mobile-menu__item{
    &:not(:last-child){
        margin-bottom: 32px;
    }
}
  .nav-mobile-menu__link{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em; 
    
  }
  .mobile-menu__wrapper-content{
    width: 100vw;
    height: 100vh;
    padding: 48px 0px 48px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
   
  }
  .current-page{
    color: var(--accent-color);
  }
  .contacts-mobileVersion__tel{
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .contacts-mobileVersion_email{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: inherit;
  }

  .contacts-mobileVersion__item:not(:last-child){
     margin-bottom: 32px;
  }
  .socialLink-mobileVersion{
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
  }
  .socialLink-mobileVersion__item:not(:last-child){
    margin-right: 10px;

  }
  .socialLink-mobileVersion__title{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
.line{
    display: block;
    height: 22px;
    border: 1px solid rgba(33, 33, 33, 0.2);  
}